{%  extends 'base.html' %}
 {% block title %} Home page {%  endblock %}

{% block content %}
        <h2>რეგისტრაცია </h2>


    <form method="post" style="width:50%; margin-left:20px;">
        <input type="text" name="username" class="form-control mb-3 mt-3" placeholder="username">
        <input type="password" name="password" class="form-control" placeholder="password">
        {% with messages=get_flashed_messages() %}
    {% for msg in messages%}
        <p style="color: red;margin-left:10px;margin-top: 5px">{{msg}}</p>
    {% endfor %}
{% endwith %}
        <button type="submit" class="btn btn-success mt-3">რეგისტრაცია</button>
    </form>

{% endblock %}